/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
}

.widget svg{
    background: #efefef;
    font: 10px sans-serif;
}

.widget h3 {
    margin: 0;
    padding: 12px 0px;
    width: 100%;
    text-align: center;
    color: #339966;
    line-height: 2em;
    background: #99ffcc;
}

/* Header styles */
header {
    text-align: center;
    background: #00CC66;
    color: #fff;
    margin-bottom: 40px;
}

header span {
    font-weight: 200;
}

header .button {
    font-size: 0.2em;
    top: -6px;
}

footer {
    padding: 10px;
    background: #00CC66;
    color: #fff;
    font-weight: 200;
    height: 20px; /* .push must be the same height as .footer */
    margin-top: 40px;
}

#content {
	margin: 0 auto;
    overflow: hidden;
}

#right_panel {
  width: 30%;
  float: left;
  text-align: left;
}

#left_panel {
  width: 70%;
  float: left;
  text-align: left;
}

/* Small calender view */
#small_calendar {
    display: inline-block;
    width: 352px;
    margin: 0px 40px 0px 0px;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

/* Line chart view */
#line_chart {
    display: inline-block;
    margin: 0px 0px 0px 40px;
    width: 90%;
}

.line_chart_axis path,
.line_chart_axis line {	
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line_chart_x.line_chart_axis path {
    display: none;
}

.line_chart_line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.line_area {
    fill: lightsteelblue;
    stroke-width: 0;
}

#legend {
    display:block;
    width: 100%;
    text-align: center;
    margin: 0px;
    background: #efefef;
}

ul.list-inline {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

ul li.key {
    margin: 0px;
    padding: 0px;
    display:table-cell;
    text-align: center;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-style: solid;
    border-width: 2px;
    list-style-type: none;
    padding: 5px;
}

ul li a:hover{ 
    text-decoration: underline;
}